/* Цвет основного текста #212121 */
/* Цвет выделений #2196F3 */
/* цвет текста героя #FFFFFF */
/* Цвет фона вторичный  #2F303A; */
/* Цвет фона Наша команда #F5F4F */
/* цвет параграфов в преимуществах #2F303A */
/* Цвет фона кнопок #3F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bcg-color: #f5f4fa;
  --thirdly-bcg-color: #2f303a;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Cтили для index.html */

.page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

section.no-bottom-padding {
  padding-bottom: 0;
}

.section-title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.image {
  display: block;
}

/* Header */
.page-header {
  border-bottom: 1px solid #ececec;
}

/* Navigation */
.navigation {
  display: flex;
  align-items: center;
}
.container.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--title-text-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo .accent {
  color: var(--accent-color);
}

/* site nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--title-text-color);

  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
/* auth-nav */

.auth-nav {
  display: flex;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .link {
  display: flex;
  color: var(--primary-text-color);
  margin-left: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
  align-items: center;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.icon-envelope,
.icon-tel {
  margin-right: 10px;
  fill: currentColor;
  margin-top: 0;
  margin-bottom: 0;
}

/* hero */

.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;

  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.hero-title {
  color: var(--primary-white-color);
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: inline-block;
  min-width: 200px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0;
  padding: 10px 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Features */
.features {
  display: flex;
  justify-content: space-between;
}

.section-title.features{
display: none;
}

.features .item::before {
  display: block;
  content: '';
  height: 120px;
  width: 270px;

  background-image: url(../images/antenna.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-bcg-color);
}

.features .item.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.features .item.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.features .item.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.features .item:not(:last-child) {
  margin-right: 30px;
}

.features .title {
  color: var(--title-text-color);
  margin-top: 30px;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features .text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
}

/* Work */
.work {
  display: flex;
  margin-top: 0;
  justify-content: center;
}
.work .item:not(:last-child) {
  margin-right: 30px;
}

.work .item{
  position: relative;
}

.title-work{
  margin: 0;
  width: 100%;
  padding: 27px 82px 27px 83px;
  white-space: nowrap;
  color:var(--primary-white-color); 
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;

  background: rgba(47, 48, 58, 0.8);
}

.title-work.mobile{
  padding: 27px 85px 27px 86px;
}

.title-work.design{
  padding: 27px 90px 27px 91px;
}




/* Team */
.section-team {
  background-color: var(--secondary-bcg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  display: flex;
  background-color: var(--secondary-bcg-color);
}

.team .card {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  width: 270px;
}

.card-description {
  padding: 30px 32px;
  margin: 0;
}

.team .card:not(:last-child) {
  margin-right: 30px;
}

.team .title {
  color: var(--title-text-color);

  margin-bottom: 10px;
  margin-top: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .position {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

.social .item .link {
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  text-align: center;
  padding: 12px;
  color: #afb1b8;
  background-color: white;
}

.social .item .link:not(:last-child) {
  margin-right: 10px;
}

.social .icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social .item .link:hover,
.social .item .link:focus {
  color: white;
  background-color: var(--accent-color);
}

.social {
  display: flex;
  color: #afb1b8;
  background-color: var(--primary-white-color);
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Clients */

.clients {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  color: #afb1b8;
  background-color: var(--primary-white-color);
}

.clients .item .link {
  display: flex;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  background-color: var(--primary-white-color);

  padding: 16px 32px;
  align-items: center;
  justify-content: center;
  text-align: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients .item:not(:last-child) {
  margin-right: 30px;
}

.clients .icon {
  fill: currentColor;
}

.clients .item .link:hover,
.clients .item .link:focus {
  color: #2196f3;
  background-color: var(--primary-white-color);
  border: 1px solid #2196f3;
}

/* Footer */
.footer {
  background-color: var(--thirdly-bcg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  display: block;
  color: var(--primary-white-color);

  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.footer .accent {
  color: var(--accent-color);
}

address {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.adress .postal {
  display: block;
  color: var(--primary-white-color);
  margin-top: 20px;
}
.adress .email {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 9px;
}
.adress .tel {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 9px;
}

.adress .email:hover,
.adress .email:focus {
  color: var(--accent-color);
}

.adress .tel:hover,
.adress .tel:focus {
  color: var(--accent-color);
}

.footer .info {
  display: flex;
}

.contacts {
  display: block;
  text-decoration: none;
}

.media {
  display: block;
  margin-left: 70px;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 40px;
}

.join {
  display: block;
  color: var(--primary-white-color);

  font-weight: 700px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.media .social .link {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}

.link-linkedin {
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  text-align: center;
  padding: 12px;

  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 0;
}

.media .social .link:hover,
.link-linkedin:hover,
.media .social .link:focus,
.link-linkedin:focus {
  color: white;
  background-color: var(--accent-color);
}

.media .social {
  color: var(--primary-white-color);
  background-color: var(--thirdly-bcg-color);
}

/* Стили для portfolio.html */

.section .portfolio-title {
  margin: 0;
  display:none;
}

.section .fields {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.fields .item:not(:last-child) {
  margin-right: 8px;
}
.fields .button {
  color: var(--title-text-color);
  background-color: var(--secondary-bcg-color);
  cursor: pointer;

  display: inline-block;
  text-align: center;
  padding: 6px 22px;

  border-radius: 4px;
  border: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.fields .button:hover,
.fields .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.project-list .item {
  width: 370px;
  margin: 15px;
}
.project-list .item:nth-child(3n) {
  margin-right: 0;
}

.project-list .item:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-list .description {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  position: relative;
}

.project-list .link {
  text-decoration: none;
}
.project-list .title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list .text {
  color: var(--primary-text-color);
  margin: 0;

  font-size: 16px;
  line-height: 1.88;
}

.project-overlay {
  position: relative;
  width: 370px;
}

.project-overlay-text{
  display: inline-block;
  content: "";
  position: absolute;
  width: 370px;
  height: 294px;

  top: 0;
  margin: 0;
  padding: 63px 24px;
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56;

  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.project-overlay:hover .project-overlay-text{
opacity: 1;
}


